$font-size-base:              0.875rem !default;
$enable-gradients: true;

$white:    #F0F0F0 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #999 !default;
$gray-600: #7A8288 !default;
$gray-700: #52575C !default;
$gray-800: #3A3F44 !default;
$gray-900: #272B30 !default;
$black:    #000 !default;

$blue:    #2374AB !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #ee5f5b !default;
$orange:  #fd7e14 !default;
$yellow:  #f89406 !default;
$green:   #62c462 !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

$primary:       $gray-900 !default;
$secondary:     $gray-800 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-900 !default;

// Body

$body-bg:                   $primary !default;
$body-color:                $gray-400  !default;


$link-color:                $blue !default;


$code-color: $teal;

$table-accent-bg:             rgba($white,.05) !default;
$table-hover-bg:              rgba($white,.075) !default;

$table-border-color:          rgba($black,.6) !default;

$table-dark-border-color:     $table-border-color !default;
$table-dark-color:            $white !default;