@import "variables";

@import "../vendor/bootstrap/scss/bootstrap";

body {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

#app {}

#help {
    @include media-breakpoint-up(xl) {
        position: absolute;
        left: 1rem;
        top: 1rem;
    }


    @include media-breakpoint-down(lg) {
        position: absolute;
        left: 1rem;
        bottom: 2rem;
    }
}

#events {
    ul {
        padding: 0;

        li {
            list-style: none;
        }
    }

    overflow: scroll;
    height: 80px;

    @include media-breakpoint-up(md) {
        height: 400px;
    }
}

.single {
     @include media-breakpoint-up(md) {
       width: 70%;
    }

}

table {
    @extend .table-striped;

    @extend .table-responsive;

    @extend .table;
}

.btn {
    border-radius: 50%;
}