@import "variables";

@import "../vendor/bootstrap/scss/bootstrap";

body {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h1 {
    padding-bottom: 2rem;
}

h2, h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

#help {
    @include media-breakpoint-up(xl) {
        position: absolute;
        left: 1rem;
        top: 1rem;
    }


    @include media-breakpoint-down(lg) {
        position: absolute;
        left: 1rem;
        bottom: 2rem;
    }
}

#events {
    ul {
        padding: 0;

        li {
            &:first-child {
                background-color: lighten($primary, 15%);
                padding: 0.5rem;
                margin-bottom: 1rem;
            }

            list-style: none;
        }
    }

    overflow: scroll;
    height: 80px;

    @include media-breakpoint-up(md) {
        height: 400px;
    }
}

.single {
     @include media-breakpoint-up(md) {
       width: 70%;
    }

    font-size: 120%;

}

blockquote {
    @extend .alert;
    border-left: 5px solid $info;
    border-radius: 0;

}

div > pre {
    padding: 1rem;
    background-color: $black;
}

table {
    @extend .table-striped;

    @extend .table-responsive;

    @extend .table;
}

.btn {
    border-radius: 50%;
}